# Selective imports
importFrom(grDevices, adjustcolor, dev.new, dev.off, png, pdf)
importFrom(methods, new)
importFrom(stats, heatmap, na.omit, setNames)
importFrom(utils, read.delim, read.csv)
importFrom(graphics, legend)
importFrom(yaml, read_yaml)
importFrom(GenomeInfoDb, Seqinfo)
importFrom(GenomicRanges, union, makeGRangesFromDataFrame,
        makeGRangesListFromDataFrame, findOverlaps, start,
        end, mcols, GRanges, seqnames, strand, GRangesList, "mcols<-")
importFrom(dplyr, select, mutate, arrange, filter, ungroup, pull, matches,
        rename, group_by, summarize, summarise, across, sample_n, slice)
importFrom(magrittr, "%>%")
importFrom(stringr, str_detect, str_split_1)
importFrom(tidyr, separate, pivot_longer, all_of)
importFrom(methods, is)
importFrom(jsonlite, fromJSON)
importFrom(tibble, column_to_rownames, rownames_to_column)
importFrom(DESeq2, DESeqDataSetFromMatrix, estimateDispersions,
        estimateSizeFactors, resultsNames, nbinomWaldTest, results, counts,
        plotMA, plotCounts)
importFrom(org.Hs.eg.db, org.Hs.eg.db)
importFrom(org.Mm.eg.db, org.Mm.eg.db)
importFrom(reshape2, melt)
importFrom(bamsignals, bamCount)
importFrom(TxDb.Mmusculus.UCSC.mm10.knownGene,
            TxDb.Mmusculus.UCSC.mm10.knownGene)
importFrom(TxDb.Hsapiens.UCSC.hg19.knownGene, TxDb.Hsapiens.UCSC.hg19.knownGene)

# Imports
import(ggplot2)
import(karyoploteR)

# Exports
export(consensusIa)
export(createIa)
export(plotIaIndiviualTools)
export(differentialAnalysis)
export(plotDiffIa)
export(plotConsensusIa)
export(plotBaseTracks)
export(plotConsensusTracks)
export(checkConfig)
