importFrom("grDevices", "adjustcolor", "dev.new", "dev.off", "png", "pdf")
importFrom("methods", "new")
importFrom("stats", "heatmap", "na.omit")
importFrom("utils", "read.delim", "read.csv")
importFrom(graphics, legend)
importFrom(GenomeInfoDb, Seqinfo)
importFrom(GenomicRanges, union, makeGRangesFromDataFrame, findOverlaps, start,
        end, mcols, GRanges, seqnames, strand, GRangesList, "mcols<-")
importFrom(dplyr, select, mutate, arrange, filter, ungroup, pull, matches,
        rename, group_by, summarize, summarise, across, sample_n, slice)
importFrom(magrittr, "%>%")
importFrom(tidyr, separate)
importFrom(jsonlite, fromJSON)
importFrom(tibble, column_to_rownames, rownames_to_column)
importFrom(DESeq2, DESeqDataSetFromMatrix, estimateDispersions,
        estimateSizeFactors, resultsNames, nbinomWaldTest, results, counts,
        plotMA, plotCounts)
importFrom(reshape2, melt)
import(txdbmaker)
import(TxDb.Mmusculus.UCSC.mm10.knownGene)
import(org.Hs.eg.db)
import(org.Mm.eg.db)
import(ggplot2)
import(karyoploteR)
importFrom(bamsignals, bamCount)
export(consensusIa)
export(createIa)
export(plotIaIndiviualTools)
export(differentialAnalysis)
export(plotDiffIa)
export(plotConsensusIa)
